spring:
  application.name: matches
  devtools.restart.enabled: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
  jackson.serialization.indent-output: true
  datasource:
    #type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_IP:127.0.0.1}:${POSTGRES_PORT:5433}/lostcities-matches
    username: ${POSTGRES_USER:matches}
    password: ${POSTGRES_PASSWORD:example}
  flyway:
    enabled: false

  rabbitmq:
    addresses: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8081

springdoc:
  use-management-port: true
  show-actuator: true
  api-docs.enabled: true
  packagesToScan: io.dereknelson.lostcities.matches

management:
  server:
    port: 4453
  endpoints:
    web:
      exposure:
        include: "*, openapi, swagger-ui"

application:
  security:
    authentication:
      jwt:
        #      # This token must be encoded using Base64 and be at least 256 bits long (you can type `openssl rand -base64 64` on your command line to generate a 512 bits one)
        base64-secret: ZmNhZmUyNzNkNTE1ZTdiZDA2MmJjNWY4MWE2NzFlMTRkMmViNGE3M2E0YTRiYjg1ZGMxMDY1NGZkNjhhMTdmMjI4OTA5NTUzMzkyZjI1NDUyNjFlY2M3MjBkY2Y2OTAwMGU3NDQwYWMxNmZiNTJjZmZjMzkxMmU1OGZmYzQxOGU=
        #      # Token is valid 24 hours
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000

logging:
  level:
    ROOT: error
    io.dereknelson.lostcities: debug
    org.springframework.web: info
    org.apache.activemq: info
    org.springframework.aop.interceptor.PerformanceMonitorInterceptor: TRACE
  pattern:
    console: "%d %-5level %logger : %msg%n"
    file: '%d{"yyyy-MM-dd''T''HH:mm:ss,SSS"} application=${spring.application.name} profiles=${spring.profiles.active} %-5level [%thread] %logger : %msg%n'
    dateformat: yyyy-MM-dd'T'HH:mm:ssxxx
  file:
    name: ${user.home}/Logs/${spring.application.name}-dev.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 10

